body {
	background-color: #171a21;
}

h1 {
	color: #eeeeee;
	text-align: center;
	font-family: Helvetica, Arial;
	font-weight: 400;
	font-size: 30px;
	cursor: pointer;
}
#editor {
	width: 360;
	height: 360;
	margin-left: auto;
	margin-right: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	ms-user-select: none;
}
#canvas {
	cursor: default;
}

#paints-container {
	list-style-type: none;
}

#paints-container li {
	display: inline;
}

#paints-container li a {
	color: #bfbfbf;
	border: 1px solid #eeeeee;
	margin: 10px;
	border-radius: 3px;
	padding: 5px;
	text-decoration: none;
	line-height: 1;
}
#emotein {
	background-color: #575757;
	color: #FFFFFF;
	border: 1px solid black;
	width: 90px;
}
.dimensionin {
	background-color: #575757;
	color: #FFFFFF;
	border: 1px solid black;
	width: 25px;
}

#adder {
	margin-left: -50px;
}

.selected {
	background-color: #9f9f9f;
}

.btn {
	text-align: center;
	margin: 10px;
	padding: 8px;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid white;
	font-family: Arial;
	background-color: #171a21;
	cursor: pointer;
	color: white;
	line-height: 20px;
}
#setbg {
	float: right;
}
#clear {
	margin-left: auto;
	margin-right: auto;
}

#output {
	font-family: Arial;
	font-size: 12px;
	display: none;
	width: 300px;
	height: 100px;
}
a {
	text-decoration: none;
}
footer {
	text-align: center;
	margin-top: 20%;
	color: white;
	font-family: Arial;
}
#name {
	font-family: 'Comfortaa', cursive;
	color: #298be0;
}